html {
  background: #132561;
}
.d-flex {
  background: none;
  background-color: black;
}
.form-control {
  background-color: black;
}
.carousel-item {
  height: 32rem;
  background: #191919;
  color: red;
  position: relative;
  font-size: 22px;
}
.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.random {
  width: 100%;
  background: white;
}
.table {
  background-color: #132561;
  color: white;
  padding-top: 2px;
}
